#muon-wallet .modal-body .actions {
  background-color: var(--bg2);
  border-radius: 8px;
  padding: 14px 10px 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#muon-wallet .modal-body .actions div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#muon-wallet .modal-body .actions h5 {
  font-size: 12px;
  color: var(--t2);
  font-weight: normal;
  /* white-space: pre-wrap; */
}

#muon-wallet .modal-body .actions div h5.bold {
  font-weight: bold;
  color: var(--t1);
}

#muon-wallet .modal-body .actions div div {
  flex-direction: column;
  align-items: end;
}

#muon-wallet .modal-body .actions div h6 {
  color: var(--t2);
  font-weight: normal;
}

#muon-wallet .modal-body .actions .buttons {
  align-items: center;
  margin-bottom: 0;
}

#muon-wallet .modal-body .actions .buttons button {
  width: 48%;
  text-align: center;
  padding: 12px 0;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s ease;
}

#muon-wallet .modal-body .actions .buttons button:hover {
  opacity: 0.8;
}

#muon-wallet .modal-body .actions .buttons button.cancel {
  background: var(--bg1);
  color: var(--t1);
}

#muon-wallet .modal-body .actions .buttons button.submit {
  background: var(--primary);
  color: var(--white);
}