#muon-wallet .modal-body .buy-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#muon-wallet .modal-body .buy-section .balance-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 95%;
  margin-inline: auto;
}

#muon-wallet .modal-body .buy-section .balance-cont .logo {
  border: 2px solid var(--primary-light);
  background-color: var(--primary-low);
  border-radius: 50rem;
  margin-bottom: 8px;
  background-image: url(../../images/logo2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 2.5rem;
  height: 2.5rem;
}

#muon-wallet .modal-body .buy-section .balance {
  text-align: end;
}

#muon-wallet .modal-body .buy-section .balance-cont span {
  color: var(--t3);
  font-size: 12px;
}

#muon-wallet .modal-body .buy-section .balance-cont h6 {
  color: var(--t2);
  font-weight: bold;
  font-size: 12px;
  margin-top: 8px;
}

#muon-wallet .modal-body .buy-section .swap-actions {
  background-color: var(--bg2);
  width: 100%;
  border-radius: 8px;
  padding: 14px 10px 10px;
}

#muon-wallet .modal-body .buy-section .swap-actions .title {
  color: var(--t1);
  margin-bottom: 1rem;
}

#muon-wallet .modal-body .buy-section .swap-actions .swap-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}

#muon-wallet .modal-body .buy-section .swap-actions .swap-box .from,
#muon-wallet .modal-body .buy-section .swap-actions .swap-box .to {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

#muon-wallet .modal-body .buy-section .swap-actions .swap-box .data {
  display: flex;
  align-items: center;
  font-size: 16px;
  white-space: nowrap;
}

#muon-wallet .modal-body .buy-section .swap-actions .swap-box .from {
  background-color: var(--bg1);
  border-radius: 8px 8px 0px 0px;
  color: var(--t1);
}

#muon-wallet .modal-body .buy-section .swap-actions .swap-box .to {
  background-color: rgba(227, 229, 254, 0.6);
  border-radius: 0px 0px 8px 8px;
  color: var(--t2);
}

#muon-wallet .modal-body .buy-section.deposit .swap-actions .swap-box .to {
  border-radius: 8px;
  margin-bottom: 1rem;
}

#muon-wallet .modal-body .buy-section.deposit .swap-actions .allowance h6 {
  margin-bottom: 3rem;
  color: var(--t1);
}

#muon-wallet .modal-body .buy-section .swap-actions .swap-box input,
#muon-wallet .modal-body .buy-section .swap-actions .swap-box span.converted {
  background-color: transparent;
  font-size: 22px;
  border: none;
  width: 7rem;
  color: var(--t2);
}

#muon-wallet .modal-body .buy-section .swap-actions .swap-box .data h6 {
  margin-right: 10px;
}

#muon-wallet .modal-body .buy-section .swap-actions .swap-box .data select {
  background-color: transparent;
  border: none;
  color: var(--t1);
  font-weight: bold;
  font-size: 12px;
}

#muon-wallet .modal-body .buy-section .swap-actions .swap-box .data h5 {
  margin-right: 12px;
  color: var(--t1);
}

#muon-wallet .modal-body .buy-section .swap-actions .swap-box .data .logo {
  border-radius: 50rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.2rem;
  height: 2.2rem;
}

#muon-wallet .modal-body .buy-section .swap-actions .swap-box .from .logo {
  background-image: url(../../images/tokens/bnb.png);
  background-size: 32px;
}
#muon-wallet .modal-body .buy-section .swap-actions .swap-box .to .logo {
  background-image: url(../../images/logo2.png);
  border: 2px solid var(--primary-light);
  background-color: var(--primary-low);
  background-size: 22px;
}

#muon-wallet
  .modal-body
  .buy-section:not(.deposit)
  .swap-actions
  .swap-box::after {
  content: "";
  background-image: url(../../images/convert.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--bg2);
  background-color: var(--bg1);
  background-size: 12px;
  width: 16px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

#muon-wallet .modal-body .buy-section .swap-actions .checkbox {
  display: flex;
  align-items: center;
  color: var(--t1);
  font-size: 14px;
  margin-bottom: 2rem;
}

#muon-wallet .modal-body .buy-section .swap-actions .checkbox input {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg2);
  margin: 0;
  margin-right: 8px;
  border: 1px solid var(--primary);
  border-radius: 6px;
  width: 20px;
  height: 20px;
  display: grid;
  place-content: center;
  color: currentColor;
}

#muon-wallet .modal-body .buy-section .swap-actions .checkbox input::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary);
}

#muon-wallet
  .modal-body
  .buy-section
  .swap-actions
  .checkbox
  input:checked::before {
  transform: scale(1);
}

#muon-wallet .modal-body .buy-section .swap-actions .checkbox input::before {
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

#muon-wallet .modal-body .buy-section .swap-actions button {
  background-color: var(--primary);
  color: white;
  width: 100%;
  border-radius: 8px;
  height: 36px;
  border: none;
  letter-spacing: 1px;
  transition: 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

#muon-wallet .modal-body .buy-section .swap-actions button:hover {
  opacity: 0.8;
}

#muon-wallet .modal-body .buy-section .swap-actions button:disabled {
  opacity: 0.8;
  cursor: no-drop;
}