#muon-wallet .modal-body .out-of-deposit-balance-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#muon-wallet .modal-body .out-of-deposit-balance-section .balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#muon-wallet .modal-body .out-of-deposit-balance-section .balance div {
  border: 2px solid var(--primary-light);
  background-color: var(--primary-low);
  border-radius: 50rem;
  margin-bottom: 8px;
  background-image: url(../../images/logo2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 2.5rem;
  height: 2.5rem;
}

#muon-wallet .modal-body .out-of-deposit-balance-section .balance span {
  color: var(--t3);
  font-size: 12px;
  margin-bottom: 4px;
}

#muon-wallet .modal-body .out-of-deposit-balance-section .balance h3 {
  color: var(--t2);
  font-size: 20px;
}

#muon-wallet .modal-body .out-of-deposit-balance-section .out-buttons {
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin-inline: auto;
  margin-bottom: 8px;
}

#muon-wallet .modal-body .out-of-deposit-balance-section .out-buttons button {
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 49%;
  height: 36px;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

#muon-wallet .modal-body .out-of-deposit-balance-section .out-buttons .deposit {
  background-color: var(--primary);
  color: var(--white);
}

#muon-wallet .modal-body .out-of-deposit-balance-section .out-buttons .buy {
  background-color: var(--bg2);
  color: var(--primary);
  border: 1px solid var(--primary);
}

#muon-wallet
  .modal-body
  .out-of-deposit-balance-section
  .out-buttons
  button:hover {
  opacity: 0.8;
}

#muon-wallet .modal-body .out-of-deposit-balance-section .actions {
  background-color: var(--warning-low);
}

#muon-wallet
  .modal-body
  .out-of-deposit-balance-section
  .actions
  .insufficient {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}

#muon-wallet
  .modal-body
  .out-of-deposit-balance-section
  .actions
  .insufficient
  h5 {
  color: var(--warning);
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 4px;
}

#muon-wallet
  .modal-body
  .out-of-deposit-balance-section
  .actions
  .insufficient
  span {
  background-image: url(../../images/alert.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  width: 16px;
  height: 16px;
}

#muon-wallet
  .modal-body
  .out-of-deposit-balance-section
  .actions
  .buttons
  .submit {
  background-color: var(--bg3);
  position: relative;
  cursor: initial;
}

#muon-wallet
  .modal-body
  .out-of-deposit-balance-section
  .actions
  .buttons
  .submit::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../../images/alert.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  width: 16px;
  height: 16px;
}
