#muon-wallet .muon-modal-body .sign-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#muon-wallet .muon-modal-body .sign-section .balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#muon-wallet .muon-modal-body .sign-section .balance div {
  border: 2px solid var(--mw-primary-light);
  background-color: var(--mw-primary-low);
  border-radius: 50rem;
  margin-bottom: 8px;
  background-image: url(../../images/logo2.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 4rem;
  height: 4rem;
}

#muon-wallet .muon-modal-body .sign-section .balance span {
  color: var(--mw-t3);
  font-size: 12px;
  margin-bottom: 4px;
}

#muon-wallet .muon-modal-body .sign-section .balance h3 {
  color: var(--mw-primary);
  font-size: 20px;
}