/* ---------------------------------------------------- */
/* Fonts */
@font-face {
  font-family: "MW_Lato";
  src: url(../fonts/Lato.eot);
  src: url(../fonts/Lato.ttf) format("embedded-opentype");
  src: url(../fonts/Lato.woff) format("truetype");
  src: url(../fonts/Lato.woff2) format("woff2");
}
/* ---------------------------------------------------- */
/* Animations */
@keyframes mw-slideIn {
  from {
    top: -150%;
  }
  to {
    top: 50%;
  }
}
@keyframes mw-slideOut {
  from {
    top: 50%;
  }
  to {
    top: -150%;
  }
}
@keyframes mw-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mw-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mw-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ---------------------------------------------------- */
/* Variables */
:root {
  --mw-gradient: linear-gradient(
    90.01deg,
    #64a3f4 0%,
    #7202f1 18.02%,
    #a728da 41.61%,
    #c5759e 82.53%,
    #f09e5a 105.58%
  );
  --mw-primary: #5158f6;
  --mw-primary-low: #cfd1f9;
  --mw-primary-light: #a5a9f8;
  --mw-warning: #dd762c;
  --mw-warning-low: #dfccc3;
  --mw-bg: #dfe1ed;
  --mw-bg0: #e9eaff;
  --mw-bg1: #e3e5fe;
  --mw-bg2: #cfd1f9;
  --mw-bg3: #b3b4dc;
  --mw-bg4: #c3c5f1;
  --mw-bg5: #a8aadd;
  --mw-bg8: #a9a9b9;
  --mw-t0: #323245;
  --mw-t1: #414597;
  --mw-t2: #7e82c1;
  --mw-t3: #a5a9f8;
  --mw-white: #f9f9fa;
  --mw-black: #000000;
}

/* ---------------------------------------------------- */
/* General */
#muon-wallet * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#muon-wallet input:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
#muon-wallet input:focus-visible {
  box-shadow: none;
  border: none;
  outline: none;
}
#muon-wallet select:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
#muon-wallet select:focus-visible {
  box-shadow: none;
  border: none;
  outline: none;
}
#muon-wallet h1 {
  margin-bottom: 0;
  font-weight: bold;
}
#muon-wallet h2 {
  margin-bottom: 0;
  font-weight: bold;
}
#muon-wallet h3 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.17em;
}
#muon-wallet h4 {
  margin-bottom: 0;
  font-weight: bold;
}
#muon-wallet h5 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 0.83em;
}
#muon-wallet h6 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 0.67em;
}
#muon-wallet p {
  margin-bottom: 0;
  line-height: 15px;
}
#muon-wallet button {
  font-size: 13px;
  line-height: normal;
}

#muon-wallet {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#muon-wallet * {
  font-family: "MW_Lato" !important;
}
#muon-wallet .backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  animation: mw-fadeIn 0.7s ease normal forwards;
}
#muon-wallet .muon-modal {
  position: absolute;
  left: 50%;
  top: -100%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 95%;
  height: auto;
  max-height: 85%;
  border-radius: 10px;
  box-shadow: 0 5px 55px rgba(0, 0, 0, 0.2);
  padding: 12px;
  background-color: var(--mw-bg0);
  display: flex;
  flex-direction: column;
  animation: mw-slideIn 0.7s ease normal forwards;
  z-index: 2;
}
#muon-wallet .muon-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#muon-wallet .muon-modal-header .logo {
  display: flex;
  align-items: center;
}
#muon-wallet .muon-modal-header .logo .logo-image {
  background-image: url(../images/logo.webp);
  height: 20px;
  width: 24px;
  margin-right: 8px;
}
#muon-wallet .muon-modal-header .logo h5 {
  background-image: var(--mw-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
#muon-wallet .muon-modal-header .logo h6 {
  background-image: var(--mw-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
#muon-wallet .muon-modal-header button {
  border: none;
  cursor: pointer;
  background-image: url(../images/close.webp);
  width: 12px;
  height: 12px;
  background-color: transparent;
}
#muon-wallet .muon-modal-body {
  flex-grow: 1;
  margin-top: 1rem;
}

#muon-wallet.closed .backdrop {
  animation: mw-fadeOut 0.7s ease normal forwards;
}
#muon-wallet.closed .muon-modal {
  animation: mw-slideOut 0.7s ease normal forwards;
}

#muon-wallet .account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mw-bg1);
  padding: 10px;
  border-radius: 8px;
  margin: 1rem 0;
}
#muon-wallet .account p {
  color: var(--mw-black);
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 4px;
}
#muon-wallet .account span {
  color: var(--mw-t3);
  font-size: 12px;
}

#muon-wallet .muon-modal-body .actions {
  background-color: var(--mw-bg2);
  border-radius: 8px;
  padding: 14px 10px 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#muon-wallet .muon-modal-body .actions div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
#muon-wallet .muon-modal-body .actions div h5 {
  font-size: 12px;
  color: var(--mw-t2);
  font-weight: normal;
}
#muon-wallet .muon-modal-body .actions div h5.bold {
  font-weight: bold;
  color: var(--mw-t1);
}
#muon-wallet .muon-modal-body .actions div div {
  flex-direction: column;
  align-items: end;
}
#muon-wallet .muon-modal-body .actions div h6 {
  color: var(--mw-t2);
  font-weight: normal;
}
#muon-wallet .muon-modal-body .actions .buttons {
  align-items: center;
  margin-bottom: 0;
}
#muon-wallet .muon-modal-body .actions .buttons button {
  width: 48%;
  text-align: center;
  padding: 12px 0;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s ease;
}
#muon-wallet .muon-modal-body .actions .buttons button:hover {
  opacity: 0.8;
}
#muon-wallet .muon-modal-body .actions .buttons button.cancel {
  background: var(--mw-bg1);
  color: var(--mw-t1);
}
#muon-wallet .muon-modal-body .actions .buttons button.submit {
  background: var(--mw-primary);
  color: var(--mw-white);
}

#muon-wallet .muon-modal-body .sign-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#muon-wallet .muon-modal-body .sign-section .balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
#muon-wallet .muon-modal-body .sign-section .balance div {
  border: 2px solid var(--mw-primary-light);
  background-color: var(--mw-primary-low);
  border-radius: 50rem;
  margin-bottom: 8px;
  background-image: url(../images/logo2.webp);
  background-repeat: no-repeat;
  background-position: center;
  width: 4rem;
  height: 4rem;
}
#muon-wallet .muon-modal-body .sign-section .balance span {
  color: var(--mw-t3);
  font-size: 12px;
  margin-bottom: 4px;
}
#muon-wallet .muon-modal-body .sign-section .balance h3 {
  color: var(--mw-primary);
  font-size: 20px;
}

#muon-wallet .muon-modal-body .out-of-wallet-balance-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .balance div {
  border: 2px solid var(--mw-primary-light);
  background-color: var(--mw-primary-low);
  border-radius: 50rem;
  margin-bottom: 8px;
  background-image: url(../images/logo2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 2.5rem;
  height: 2.5rem;
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .balance span {
  color: var(--mw-t3);
  font-size: 12px;
  margin-bottom: 4px;
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .balance h3 {
  color: var(--mw-t2);
  font-size: 20px;
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .out-buttons {
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin-inline: auto;
  margin-bottom: 8px;
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .out-buttons button {
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  height: 36px;
  letter-spacing: 1px;
  transition: 0.3s ease;
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .out-buttons button:hover {
  opacity: 0.8;
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .out-buttons .buy {
  background-color: var(--mw-primary);
  color: var(--mw-white);
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .actions {
  background-color: var(--mw-warning-low);
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .actions .insufficient {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .actions .insufficient h5 {
  color: var(--mw-warning);
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 4px;
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .actions .insufficient span {
  background-image: url(../images/alert.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  width: 16px;
  height: 16px;
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .actions .buttons .submit {
  background-color: var(--mw-bg3);
  position: relative;
  cursor: initial;
}
#muon-wallet .muon-modal-body .out-of-wallet-balance-section .actions .buttons .submit::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/alert.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  width: 16px;
  height: 16px;
}

#muon-wallet .muon-modal-body .out-of-deposit-balance-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .balance div {
  border: 2px solid var(--mw-primary-light);
  background-color: var(--mw-primary-low);
  border-radius: 50rem;
  margin-bottom: 8px;
  background-image: url(../images/logo2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 2.5rem;
  height: 2.5rem;
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .balance span {
  color: var(--mw-t3);
  font-size: 12px;
  margin-bottom: 4px;
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .balance h3 {
  color: var(--mw-t2);
  font-size: 20px;
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .out-buttons {
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin-inline: auto;
  margin-bottom: 8px;
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .out-buttons button {
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 49%;
  height: 36px;
  letter-spacing: 1px;
  transition: 0.3s ease;
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .out-buttons button:hover {
  opacity: 0.8;
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .out-buttons .deposit {
  background-color: var(--mw-primary);
  color: var(--mw-white);
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .out-buttons .buy {
  background-color: var(--mw-bg2);
  color: var(--mw-primary);
  border: 1px solid var(--mw-primary);
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .actions {
  background-color: var(--mw-warning-low);
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .actions .insufficient {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .actions .insufficient h5 {
  color: var(--mw-warning);
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 4px;
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .actions .insufficient span {
  background-image: url(../images/alert.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  width: 16px;
  height: 16px;
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .actions .buttons .submit {
  background-color: var(--mw-bg3);
  position: relative;
  cursor: initial;
}
#muon-wallet .muon-modal-body .out-of-deposit-balance-section .actions .buttons .submit::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/alert.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  width: 16px;
  height: 16px;
}

#muon-wallet .muon-modal-body .buy-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#muon-wallet .muon-modal-body .buy-section .balance-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 95%;
  margin-inline: auto;
}
#muon-wallet .muon-modal-body .buy-section .balance-cont .logo {
  border: 2px solid var(--mw-primary-light);
  background-color: var(--mw-primary-low);
  border-radius: 50rem;
  margin-bottom: 8px;
  background-image: url(../images/logo2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 2.5rem;
  height: 2.5rem;
}
#muon-wallet .muon-modal-body .buy-section .balance-cont span {
  color: var(--mw-t3);
  font-size: 12px;
}
#muon-wallet .muon-modal-body .buy-section .balance-cont h6 {
  color: var(--mw-t2);
  font-weight: bold;
  font-size: 12px;
  margin-top: 8px;
}
#muon-wallet .muon-modal-body .buy-section .balance {
  text-align: end;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions {
  background-color: var(--mw-bg2);
  width: 100%;
  border-radius: 8px;
  padding: 14px 10px 10px;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .title {
  color: var(--mw-t1);
  margin-bottom: 1rem;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .from {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: var(--mw-bg1);
  border-radius: 8px 8px 0px 0px;
  color: var(--mw-t1);
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .from button {
  background-color: transparent;
  border: none;
  color: var(--mw-t1);
  display: flex;
  align-items: center;
  margin-right: 12px;
  position: relative;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .from button span {
  background-image: url(../images/arrow-down.webp);
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .from button h5 {
  color: var(--mw-t1);
  font-size: 12px;
  margin-left: 4px;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .from button ul {
  position: absolute;
  top: 20px;
  left: 0;
  border-radius: 3px;
  box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.5);
  margin: 0;
  flex-direction: column;
  background-color: var(--mw-bg1);
  display: none;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .from button li {
  padding: 5px 10px;
  border-bottom: 1px solid var(--mw-t3);
  transition: 0.1s ease;
  font-size: 12px;
  font-weight: bold;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .from button li:hover {
  background-color: var(--mw-bg2);
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .from button li:last-child {
  border-bottom: none;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .from .logo {
  background-size: 32px;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .from .logo.bnb {
  background-image: url(../images/tokens/bnb.svg);
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .from .logo.usdc {
  background-image: url(../images/tokens/usdc.svg);
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .to {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: rgba(227, 229, 254, 0.6);
  border-radius: 0px 0px 8px 8px;
  color: var(--mw-t2);
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .to h5 {
  margin-right: 12px;
  color: var(--mw-t1);
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .to .logo {
  background-image: url(../images/logo2.webp);
  border: 2px solid var(--mw-primary-light);
  background-color: var(--mw-primary-low);
  background-size: 22px;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .data {
  display: flex;
  align-items: center;
  font-size: 16px;
  white-space: nowrap;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .data h6 {
  margin-right: 10px;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box .data .logo {
  border-radius: 50rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.2rem;
  height: 2.2rem;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box input {
  background-color: transparent;
  font-size: 22px;
  border: none;
  width: 7rem;
  color: var(--mw-t2);
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box span.converted {
  background-color: transparent;
  font-size: 22px;
  border: none;
  width: 7rem;
  color: var(--mw-t2);
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box ~ button {
  background-color: var(--mw-primary);
  color: white;
  width: 100%;
  border-radius: 8px;
  height: 36px;
  border: none;
  letter-spacing: 1px;
  transition: 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box ~ button:hover {
  opacity: 0.8;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .swap-box ~ button:disabled {
  opacity: 0.8;
  cursor: no-drop;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .checkbox {
  display: flex;
  align-items: center;
  color: var(--mw-t1);
  font-size: 14px;
  margin-bottom: 2rem;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: var(--mw-bg2);
  margin: 0;
  margin-right: 8px;
  border: 1px solid var(--mw-primary);
  border-radius: 6px;
  width: 20px;
  height: 20px;
  display: grid;
  place-content: center;
  color: currentColor;
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .checkbox input::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--mw-primary);
  transform-origin: bottom left;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
#muon-wallet .muon-modal-body .buy-section .swap-actions .checkbox input:checked::before {
  transform: scale(1);
}
#muon-wallet .muon-modal-body .buy-section:not(.deposit) .swap-actions .allowance h6 {
  margin-bottom: 1rem;
  margin-left: 8px;
  color: var(--mw-t1);
}
#muon-wallet .muon-modal-body .buy-section:not(.deposit) .swap-actions .swap-box::after {
  content: "";
  background-image: url(../images/convert.webp);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--mw-bg2);
  background-color: var(--mw-bg1);
  background-size: 12px;
  width: 16px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
#muon-wallet .muon-modal-body .buy-section.deposit .swap-actions .swap-box .to {
  border-radius: 8px;
  margin-bottom: 1rem;
}
#muon-wallet .muon-modal-body .buy-section.deposit .swap-actions .allowance h6 {
  margin-bottom: 3rem;
  color: var(--mw-t1);
}

#muon-wallet .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--mw-t2);
  opacity: 0.9;
  border-radius: 10px;
  z-index: 10;
  cursor: no-drop;
}
#muon-wallet .loading::after {
  content: "";
  position: absolute;
  left: 47%;
  top: 18%;
  border: 2px solid var(--mw-white);
  border-radius: 50%;
  border-top: 2px solid var(--mw-black);
  width: 20px;
  height: 20px;
  animation: mw-spin 2s linear infinite;
}/*# sourceMappingURL=index.css.map */