/* ---------------------------------------------------- */
/* General */
#muon-wallet {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	input {
		&:focus {
			box-shadow: none;
			border: none;
			outline: none;
		}
		&:focus-visible {
			box-shadow: none;
			border: none;
			outline: none;
		}
	}
	select {
		&:focus {
			box-shadow: none;
			border: none;
			outline: none;
		}
		&:focus-visible {
			box-shadow: none;
			border: none;
			outline: none;
		}
	}
	h1 {
		margin-bottom: 0;
		font-weight: bold;
	}
	h2 {
		margin-bottom: 0;
		font-weight: bold;
	}
	h3 {
		margin-bottom: 0;
		font-weight: bold;
		font-size: 1.17em;
	}
	h4 {
		margin-bottom: 0;
		font-weight: bold;
	}
	h5 {
		margin-bottom: 0;
		font-weight: bold;
		font-size: 0.83em;
	}
	h6 {
		margin-bottom: 0;
		font-weight: bold;
		font-size: 0.67em;
	}
	p {
		margin-bottom: 0;
		line-height: 15px;
	}
	button {
		font-size: 13px;
		line-height: normal;
	}
}
