/* ---------------------------------------------------- */
/* Variables */

:root {
  --mw-gradient: linear-gradient(
    90.01deg,
    #64a3f4 0%,
    #7202f1 18.02%,
    #a728da 41.61%,
    #c5759e 82.53%,
    #f09e5a 105.58%
  );

  --mw-primary: #5158f6;
  --mw-primary-low: #cfd1f9;
  --mw-primary-light: #a5a9f8;

  --mw-warning: #dd762c;
  --mw-warning-low: #dfccc3;

  --mw-bg: #dfe1ed;
  --mw-bg0: #e9eaff;
  --mw-bg1: #e3e5fe;
  --mw-bg2: #cfd1f9;
  --mw-bg3: #b3b4dc;
  --mw-bg4: #c3c5f1;
  --mw-bg5: #a8aadd;
  --mw-bg8: #a9a9b9;

  --mw-t0: #323245;
  --mw-t1: #414597;
  --mw-t2: #7e82c1;
  --mw-t3: #a5a9f8;

  --mw-white: #f9f9fa;
  --mw-black: #000000;
}
