/* ---------------------------------------------------- */
/* General */

#muon-wallet * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#muon-wallet input:focus,
#muon-wallet select:focus,
#muon-wallet input:focus-visible,
#muon-wallet select:focus-visible {
  box-shadow: none;
  border: none;
  outline: none;
}

#muon-wallet h1,
#muon-wallet h2,
#muon-wallet h3,
#muon-wallet h4,
#muon-wallet h5,
#muon-wallet h6{
  margin-bottom: 0;
  font-weight: bold;
}

#muon-wallet h3{
  font-size: 1.17em;
}

#muon-wallet h5{
  font-size: .83em;
}

#muon-wallet h6{
  font-size: .67em;
}

#muon-wallet p{
  margin-bottom: 0;
  line-height: 15px;
}

#muon-wallet button{
  font-size: 13px;
  line-height: normal;
}