/* ---------------------------------------------------- */
/* Variables */

:root {
  --gradient: linear-gradient(
    90.01deg,
    #64a3f4 0%,
    #7202f1 18.02%,
    #a728da 41.61%,
    #c5759e 82.53%,
    #f09e5a 105.58%
  );

  --primary: #5158f6;
  --primary-low: #cfd1f9;
  --primary-light: #a5a9f8;

  --warning: #dd762c;
  --warning-low: #dfccc3;

  --bg: #dfe1ed;
  --bg0: #e9eaff;
  --bg1: #e3e5fe;
  --bg2: #cfd1f9;
  --bg3: #b3b4dc;
  --bg4: #c3c5f1;
  --bg5: #a8aadd;
  --bg8: #a9a9b9;

  --t0: #323245;
  --t1: #414597;
  --t2: #7e82c1;
  --t3: #a5a9f8;

  --white: #f9f9fa;
  --black: #000000;
}
